* {
    box-sizing: border-box;
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;    
}

.calculator {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: black;
    width: 350px;
    padding: 2em 0;
    border-radius: 8%;
}

.row {
    display: flex;
    width: 90%;
    margin: auto;
    gap: .8em;
    justify-content: center;
    align-items: center;
    padding: .2em 0;
}

.calcBtn {
    flex: 1 0 0;
    height: 65px;
    border-radius: 50%;
    font-size: 1.6em;
    color: white;
    background: rgb(42, 41, 41);
}

.outputText {
    display: flex;
    justify-content: right;
    align-items: end;
    overflow-x: auto;
    letter-spacing: .05em;
    width: 88%;
    color: white;
    height: 3rem;
    margin: auto;
    padding-bottom: .3em;
    font-size: 1rem;
    white-space: nowrap;
}

.inputText {
    display: flex;
    width: 88%;
    height: 75px;
    text-align: right;
    font-size: 3em;
    background: white;
    margin: 0 auto .5em;
    overflow-x: auto;
    letter-spacing: .05em;
}

.orangeBtn {
    background: orange;
}

.lessGrayBtn {
    background: gray;
}